.App {
  text-align: center;
}

.App-logo {
  height: 30vmin; /* Decrease the size of the logo */
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  display: inline-block;
  margin: 0 10px; /* Horizontal spacing between buttons */
}

.App-button {
  height: 50px; /* Adjust the size as needed */
  width: auto;
  display: block;
}

.Swiss-made-button {
  height: 30px; /* Adjust size as needed */
  width: auto;
}

.screenshots {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Space above the screenshots */
}

.Screenshot {
  height: 600px; /* Adjust the height as needed */
  width: auto;
  margin: 0 10px; /* Space between the screenshots */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visual appeal */
  margin-bottom: 20px; /* Add margin to the bottom of the screenshots */
}

.App-small-text {
  font-size: calc(14px + 1vmin); /* Smaller text size for the smaller text */
}

.App-margin-small {
  margin-top: 0px; /* Adjust margin to decrease space between the two sections */
}
