.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-oscillate infinite 30s ease-in-out;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  display: inline-block;
  margin: 10px;
}

.App-button {
  height: 50px; /* Adjust the size as needed */
  width: auto;
  display: block;
}

.screenshots {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Space above the screenshots */
}

.Screenshot {
  height: 600px; /* Adjust the height as needed */
  width: auto;
  margin: 0 10px; /* Space between the screenshots */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for better visual appeal */
}

@keyframes App-logo-oscillate {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
